body{
    width: 100%;
    height: 100%;
    display: flex; 
    background-color: #000000;
    font-family: 'IBM Plex Sans', sans-serif;
    align-items: center;
    flex-direction: column;
}
.logo_img{
    position: absolute;
    width: 229px;
    height: 68px;
    left: 517px;
    top: 42px;
    background: url(logo.png);
    margin-top: 42px;
}
h1{
    justify-content: flex-start;
    font-size: 32px;
    font-weight: 600;
    margin: 73px 0px 61px 0px;
    color: #fff;
    margin-top: 183px;
}
.box{
    max-width: 700px;
}
ul{
    list-style-type: none;
    display: flex;
    width: 160px;
    height: 160px;
    font-family: 'IBM Plex Sans', sans-serif;
    justify-content: space-evenly;
    text-align: center;
    gap: 26px;
    margin-top: 61px;
    border-radius: 8px;
    margin-left: 50px;
}
.borda{
    max-width: 160px;
    max-height: 160px;
    border: solid 2px transparent;
    transition: 0s;
}
.borda:hover{
    border: solid 2px #FFFFFF;
    transition: 0s;
    border-radius: 8px;
}
.zoom{
    max-width: 160px;
    max-height: 160px;
    overflow: hidden;
}
.zoom img{
    max-width: 160px;
    max-height: 160px;
    transition: 0.5s;
}
.zoom:hover img{
    transform: scale(1.5);
}

.avatar{
    border-radius: 8px;
}
.perfil_img{
    background: #1E1E20;
    border: 1.5px solid #FFFFFF;
    box-sizing: border-box;
    flex: none;   
}
p{
    position: static;
    left: 39.38%;
    right: 39.38%;
    top: 90.72%;
    bottom: 0%;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #9C9C9C;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 16px 0px;
    text-align: center;
}
li:hover p{
    color: #FFFFFF;
}
.button{
    font-family: 'IBM Plex Sans' sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20.8px;
    color: #FFFFFF;

    border: 1.5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 8px;
    margin-top: 136px;
    width: 206px;
    height: 50px;
    background-color: #000000;
    cursor: pointer;
    margin-left: 50px;
}
.button:hover{
    background-color: #fff;
    color: #000000;
    transition: 1s;    
}
#avatar2{
    background-image: url(./perfil.png);
    width: 160px;
    height: 160px;
    transform: none;
}
#avatar2:hover{
background-image: url("./Frames.png");
}
